
body {
    	background:  url(file:///home/lena/%D0%A0%D0%B0%D0%B1%D0%BE%D1%87%D0%B8%D0%B9%20%D1%81%D1%82%D0%BE%D0%BB/tppo/5.jpg);
	background-size: 100%;
	background-repeat: repeat;
	padding: 5px;
	min-width:1000px;
	}

h1 {
	color: #000000;
	text-shadow: red 0 0 10px;
}

